body{
  background-image: url(download.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Beau Rivage; 
  display: block;
}

.pp{
  font-size: 300px;
  padding-left: 100px;
  }
  .dpp{
 
  }

  .pn{
    font-size: 60px;
  padding-left: 50px;  
  margin-top: 5px;
}

.mt,.gt,.ct,.at{
font-size: 100px;
margin-top: 10px;
}
.mp,.gp,.cp,.ap{
  font-size: 60px;
  margin-top: 10px;
}
.ap{
  size: 30px;
}










