body{
background-color: black;


  }
  p, div{
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .hb{
    font-size: 300px;
    display: block;
    color: pink;
  padding-left: 100px;
  
  
  }
  
  p{
    font-family: Sour Gummy;
  }


  .b{
    font-size: 250px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0;
    color: pink;
   
  }
  
  .g{
    font-size: 120px;
    color: pink;
  }
  .up{
    color: #e71d9a
  }
  .gp{
  
  }
  
  .bw{
  
  border: none;
  font-size: 30px;
  border-radius: 1px;
  border-style: solid;
  background-color: #e71d9a;
  color: rgb(0, 0, 0);
  font-weight: bold;  
  cursor: pointer;
  margin-left: 40px;
  padding-bottom:100px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 100px;
  vertical-align: top;
  }
  
  
  .bp{
  
    border: none;
    font-size: 30px;
    border-radius: 1px;
    border-style: solid;
    background-color: #e71d9a;
    color: rgb(0, 0, 0);
    font-weight: bold;  
    cursor: pointer;
    margin-top: 200px;
    margin-left: 45px;
    padding-bottom:100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 100px;
    vertical-align: top;
    
  
  }
  
  
  .bf{
  
    border: none;
    font-size: 30px;
    border-radius: 1px;
    border-style: solid;
    background-color: #e71d9a;
    color: rgb(0, 0, 0);
    font-weight: bold;  
    cursor: pointer;
    margin-left: 45px;
    padding-bottom:100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 100px;
    vertical-align: top;
    margin-top: 200px;
  }
  
  .dhb{
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
  padding-left: 0px;
  background-clip: border-box;
}
  
  .dg{
   
    height: 150px;
    padding-left:300px ;
    border-radius: 50px;
    margin-top: 200px;
  }
  
  .db{
    padding-left: 300px;
    padding-top: 100px;
    height: 500px;
    width: 180px;
    
  }


  .ba{
    width: 100%;
    height: 100%;
    
  }